/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke-white {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
   
  }

  .text-stroke-blue {
    -webkit-text-stroke: 1px rgb(0, 0, 0);
   
  }

  .text-stroke-blue-filled {
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
  }
}
